# Ignore Mac-specific files
.DS_Store
._.DS_Store

# Ignore IDE files
.vscode
.idea

# Ignore test environment specifics
apiToken
/tests/phpunit/OsdiClient/FixtureHttpClient/httpResponses
/.phpunit.result.cache
/notes.txt